
<!-- Validation failure messages -->
<% if @campaign.present? %>
  <% if @campaign.errors.any? %>
    <% @campaign.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>


<h1>
  Add a new campaign
</h1>

<hr>

<form action="/create_campaign" method="post">

  <!-- Label and input for user_id -->

  <div class="form-group">

    <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">


  <div class="form-group">
    <label for="name">
      Campaign Title
    </label>


    <input type="text" id="name" name="name" class="form-control" value="<%= @campaign.try(:name) %>">

  </div>



  <button class="btn btn-block btn-outline-secondary">
    Create campaign
  </button>
</form>

<hr>

<a href="/campaigns">
  Go back
</a>
