
<!-- Validation failure messages -->
<% if @wielding.present? %>
  <% if @wielding.errors.any? %>
    <% @wielding.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>


<h1>
  Arm a character
</h1>

<hr>

<form action="/create_wielding" method="post">

  <!-- Label and input for weapon_id -->

  <div class="form-group">
    <label for="weapon_id">
      Weapon
    </label>


    <%= select_tag("weapon_id", options_from_collection_for_select(Weapon.order(:name), :id, :name)) %>

  </div>



  <!-- Label and input for pc_id -->

  <div class="form-group">
    <label for="pc_id">
      Character
    </label>


    <%= select_tag("pc_id", options_from_collection_for_select(Pc.order(:name), :id, :name)) %>


  </div>



  <button class="btn btn-block btn-outline-secondary">
    Arm Character
  </button>
</form>

<hr>

<a href="/">
  Go back
</a>
